{{ define "main" }}

<main class="main">
    <div class="side-navigation js-sticky-menu">
        <ul class="side-navigation__list">
            <li class="side-navigation__item">
                <a href="#ID-about" class="side-navigation__link">About</a>
            </li>
            <li class="side-navigation__item">
                <a href="#ID-team" class="side-navigation__link">Team</a>
            </li>
            <li class="side-navigation__item">
                <a href="#ID-board" class="side-navigation__link">Board</a>
            </li>
        </ul>
    </div>
    <section class="hero hero--front" id="">
        <div class="hero__bg-image-holder">
            <div class="hero__bg-image-desktop" style="background-image: url('/images/shutterstock_425153317-1.jpg')"></div>
            <div class="hero__bg-image-mobile" style="background-image: url('/images/shutterstock_425153317-1.jpg')"></div>
        </div>
        <div class="hero__wrapper">
            <div class="hero__inner">
                <div class="hero__holder">
                    <div class="hero__content">
                        <h1 class="hero__heading">We democratize the use of multiphase flow information.</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section section--p-y section--white js-scroll-trigger" id="#ID-about">
        <div class="section__wrapper">
            <div class="section__inner section__inner--small section__inner--m-t">
                <div class="section__holder">
                    <div class="section__content section__content--full">
                        <div class="read-more js-read-more" data-max-height="400">
                            <div class="read-more__content js-read-more-content">
                                {{.Params.title}}yoyoy
                                {{.Params.intro}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--p-y section--gray js-scroll-trigger" id="#ID-team">
        <div class="section__wrapper">
            <div class="section__inner section__inner--small">
                <div class="section__holder">
                    <div class="section__content section__content--full">
                        <h2>Team</h2>
                    </div>
                </div>
            </div>
            <div class="section__inner section__inner--small">
                <div class="section__holder">


                    <div class="section__content section__content--one-third">
                        <div class="team-box">
                            <div class="team-box__image-holder">
                                <img data-src="/images/TF_Tom-Even-Mortensen.jpg" class="team-box__image lozad" alt="" />
                            </div>
                            <p class="team-box__name">
                                Tom Even Mortensen
                            </p>
                            <p class="team-box__position">
                                Chairman
                            </p>
                            <div class="team-box__show-more">
                                <div class="team-box__show-more-content">
                                    <div class="team-box__text">
                                        <p>Former CEO of SPT Group and CEO of Imarex. Advisor in Summa Equity.</p>
                                    </div>
                                </div>
                                <div class="team-box__show-more-icons">
                                    <img src="/images/icons/icon-plus-circle.svg" class="team-box__show-more-icon js-show-more-open" alt="" />
                                    <img src="/images/icons/icon-minus-circle.svg" class="team-box__show-more-icon js-show-more-close" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    {{range .Params.members}}
                        <div class="section__content section__content--one-third">
                            <div class="team-box">
                                <div class="team-box__image-holder">
                                    <img data-src="{{.image}}" class="team-box__image lozad" alt="" />
                                </div>
                                <p class="team-box__name">Huh{{.name}}</p>
                                <p class="team-box__position">{{.position}}</p>
                                <div class="team-box__show-more">
                                    <div class="team-box__show-more-content">
                                        <div class="team-box__text">
                                            <p>
                                                {{.description | safeHTML}}
                                            </p>
                                            <p>
                                                <a href="mailto:{{.email}}">{{.email}}</a>
                                                <br /> {{.phone}}
                                                <br />
                                                <a href="{{.linkedin}}">LinkedIn</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="team-box__show-more-icons">
                                        <img src="/images/icons/icon-plus-circle.svg" class="team-box__show-more-icon js-show-more-open" alt="" />
                                        <img src="/images/icons/icon-minus-circle.svg" class="team-box__show-more-icon js-show-more-close" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{end}}
                
                </div>
            </div>
        </div>
    </div>
    <div class="section section--p-y section--gray js-scroll-trigger" id="#ID-board">
        <div class="section__wrapper">
            <div class="section__inner section__inner--small">
                <div class="section__holder">
                    <div class="section__content section__content--full">
                        <h2>Board</h2>
                    </div>
                </div>
            </div>
            <div class="section__inner section__inner--small">
                <div class="section__holder">
                    <div class="section__content section__content--one-third">
                        <div class="team-box">
                            <div class="team-box__image-holder">
                                <img data-src="/images/TF_Tom-Even-Mortensen.jpg" class="team-box__image lozad" alt="" />
                            </div>
                            <p class="team-box__name">
                                Tom Even Mortensen
                            </p>
                            <p class="team-box__position">
                                Chairman
                            </p>
                            <div class="team-box__show-more">
                                <div class="team-box__show-more-content">
                                    <div class="team-box__text">
                                        <p>Former CEO of SPT Group and CEO of Imarex. Advisor in Summa Equity.</p>
                                    </div>
                                </div>
                                <div class="team-box__show-more-icons">
                                    <img src="/images/icons/icon-plus-circle.svg" class="team-box__show-more-icon js-show-more-open" alt="" />
                                    <img src="/images/icons/icon-minus-circle.svg" class="team-box__show-more-icon js-show-more-close" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section__content section__content--one-third">
                        <div class="team-box">
                            <div class="team-box__image-holder">
                                <img data-src="/images/TF_Olav-Fjell.jpg" class="team-box__image lozad" alt="" />
                            </div>
                            <p class="team-box__name">
                                Olav Fjell
                            </p>
                            <p class="team-box__position">
                                Member
                            </p>
                            <div class="team-box__show-more">
                                <div class="team-box__show-more-content">
                                    <div class="team-box__text">
                                        <p>Former CEO of Statoil and Chairman of Statkraft. Extensive industrial experience.</p>
                                    </div>
                                </div>
                                <div class="team-box__show-more-icons">
                                    <img src="/images/icons/icon-plus-circle.svg" class="team-box__show-more-icon js-show-more-open" alt="" />
                                    <img src="/images/icons/icon-minus-circle.svg" class="team-box__show-more-icon js-show-more-close" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section__content section__content--one-third">
                        <div class="team-box">
                            <div class="team-box__image-holder">
                                <img data-src="/images/TF_Yngve-Tvedt.jpg" class="team-box__image lozad" alt="" />
                            </div>
                            <p class="team-box__name">
                                Ynge Tvedt
                            </p>
                            <p class="team-box__position">
                                Member
                            </p>
                            <div class="team-box__show-more">
                                <div class="team-box__show-more-content">
                                    <div class="team-box__text">
                                        <p>Founded and co-founded eight IT companies. Currently: General Partner in Norselab.</p>
                                    </div>
                                </div>
                                <div class="team-box__show-more-icons">
                                    <img src="/images/icons/icon-plus-circle.svg" class="team-box__show-more-icon js-show-more-open" alt="" />
                                    <img src="/images/icons/icon-minus-circle.svg" class="team-box__show-more-icon js-show-more-close" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section__content section__content--one-third">
                        <div class="team-box">
                            <p class="team-box__name">
                                Torgeir Ruden
                            </p>
                            <p class="team-box__position">
                                Member
                            </p>
                            <div class="team-box__show-more">
                                <div class="team-box__show-more-content">
                                    <div class="team-box__text">
                                        <p>Software Development Manager in Turbulent Flux.</p>
                                    </div>
                                </div>
                                <div class="team-box__show-more-icons">
                                    <img src="/images/icons/icon-plus-circle.svg" class="team-box__show-more-icon js-show-more-open" alt="" />
                                    <img src="/images/icons/icon-minus-circle.svg" class="team-box__show-more-icon js-show-more-close" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section__content section__content--one-third">
                        <div class="team-box">
                            <p class="team-box__name">
                                Kjetil Roe
                            </p>
                            <p class="team-box__position">
                                Member
                            </p>
                            <div class="team-box__show-more">
                                <div class="team-box__show-more-content">
                                    <div class="team-box__text">
                                        <p>CFO in Turbulent Flux.</p>
                                    </div>
                                </div>
                                <div class="team-box__show-more-icons">
                                    <img src="/images/icons/icon-plus-circle.svg" class="team-box__show-more-icon js-show-more-open" alt="" />
                                    <img src="/images/icons/icon-minus-circle.svg" class="team-box__show-more-icon js-show-more-close" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ end }}