{{ define "main" }}


<div class="side-navigation js-sticky-menu">
    <ul class="side-navigation__list">
        {{range .Pages }}
        <li class="side-navigation__item">
            <a href="#ID-{{ .Title | urlize }}" class="side-navigation__link">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>
<section class="hero hero--front" id="">
    <div class="hero__bg-image-holder">
        <div class="hero__bg-image-desktop" style="background-image: url('{{ .Params.backgroundImage }}')"></div>
        <div class="hero__bg-image-mobile" style="background-image: url('{{ .Params.backgroundImage }}')"></div>
    </div>
    <div class="hero__wrapper">
        <div class="hero__inner">
            <div class="hero__holder">
                <div class="hero__content">
                    <h1 class="hero__heading">{{ .Params.heroText }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
{{range .Pages }}
<div class="section section--p-y section--white js-scroll-trigger" id="#ID-{{ .Title | urlize }}">
    <div class="section__wrapper">
        <div class="section__inner section__inner--small section__inner--m-t">
            <div class="section__holder">
                <div class="section__content section__content--full">
                    <div class="read-more js-read-more" data-max-height="400">
                        <div class="read-more__content js-read-more-content">
                            <a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}


<!-- <main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        {{.Content}}
    </article>
    <ul>
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{ end }}
    </ul>
</main> -->
{{ end }}