{{ define "main" }}

<section class="hero hero--front" id="">
    <div class="hero__bg-image-holder">
        <div class="hero__bg-image-desktop" style="background-image: url('/images/shutterstock_530769703-1.jpg')"></div>
        <div class="hero__bg-image-mobile" style="background-image: url('/images/shutterstock_530769703-1.jpg')"></div>
    </div>
    <div class="hero__wrapper">
        <div class="hero__inner">
            <div class="hero__holder">
                <div class="hero__content">
                    <h1 class="hero__heading">{{ .Params.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section section--p-y section--white js-scroll-trigger" id="#ID-virtual-flow-meter">
    <div class="section__wrapper">
        <div class="section__inner section__inner--small section__inner--m-t">
            <div class="section__holder">
                <div class="section__content section__content--full">
                    <div class="read-more js-read-more" data-max-height="400">
                        <div class="read-more__content js-read-more-content">
                            <!-- <h2>Virtual Flow Meter, VFM</h2> -->
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{ end }}